xiaozhi-server
/logs
/tmp
/.config.yaml
/.mcp_server_settings.json
xiaozhi-server-go
.mcp_server_settings copy.json
.DS_Store
/uploads
.env
config.db
/ota_bin
.claude/settings.local.json
/test/leogo_test
/demo/websocket_client/recorder_files/
